<div class="pedidos-container">
  <h1>Gestión de Pedidos</h1>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pedido # </th>
        <td mat-cell *matCellDef="let p"> {{p.id}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let p"> {{p.fechaCreacion | date:'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="clienteNombre">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let p"> {{ p.tipoVenta === 'EnTienda' ? p.clienteNombre : p.usuario?.nombreCompleto }} </td>
      </ng-container>

      <ng-container matColumnDef="montoTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Bruto </th>
        <td mat-cell *matCellDef="let p"> {{p.montoTotal | currency:'Q'}} </td>
      </ng-container>

      <ng-container matColumnDef="montoDevuelto">
        <th mat-header-cell *matHeaderCellDef> Devuelto </th>
        <td mat-cell *matCellDef="let p" class="debit-amount"> -{{calcularMontoDevuelto(p) | currency:'Q'}} </td>
      </ng-container>

      <ng-container matColumnDef="ventaNeta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Venta Neta </th>
        <td mat-cell *matCellDef="let p"> {{calcularVentaNeta(p) | currency:'Q'}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let pedido">
          <mat-form-field appearance="outline" class="estado-select">
            <mat-select [value]="pedido.estado" (selectionChange)="cambiarEstado(pedido, $event.value)">
              <mat-option *ngFor="let estado of estadosPosibles" [value]="estado">
                {{ estado }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

  </div>
</div>
