.report-container {
  padding: 20px;
}

.filters-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 20px;
}

.results-container {
  margin-top: 30px;
}

.export-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.total-ventas {
  text-align: right;
  margin-top: 20px;
  font-size: 1.5em;
}

/* ... tus estilos existentes ... */
.totals-summary {
  text-align: right;
  margin-top: 20px;
}

.total-ganancia {
  font-size: 1.8em;
  font-weight: bold;
}

.debit-amount {
  color: #f44336; /* Color rojo para los montos devueltos */
}
